@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    
    

    /* Make unselectable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    /* Make background responsive af (tip: dont touch or this shit is gonna break */
    background: url(./Images/Background.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

